<div class="col-sm-10">

  <div class="row">
    <div class="col-xs-12">
      
      <div class="row">
        <div class="col-md-12">
          <h1>Headline</h1><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni totam veniam libero unde quia commodi quibusdam minus alias reiciendis placeat explicabo culpa esse velit ipsa facere sequi eaque nihil facilis sunt quod! </p>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 post">
           <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>
          <h2>Post 1</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>
          <span class="btn btn-default">More</span>
        </div>
        <div class="col-md-3 col-sm-6 post">
           <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>
          <h2>Post 2</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>
          <span class="btn btn-default">More</span>
        </div>
        <div class="col-md-3 col-sm-6 post">
           <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>
          <h2>Post 3</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>
          <span class="btn btn-default">More</span>
        </div>
        <div class="col-md-3 col-sm-6 post">
           <a href="#" class="thumbnail"><img src="http://placehold.it/500" alt="" /></a>
          <h2>Post 4</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam dolore facere nulla similique magni nobis beatae eveniet deserunt quisquam nihil autem. Maxime iste voluptate laboriosam veritatis possimus qui molestias numquam officia deleniti a! Debitis itaque tempora vel quas quidem natus fugit alias aliquam maiores deserunt quibusdam error laboriosam aut.</p>
          <span class="btn btn-default">More</span>
        </div>
      </div>
    </div>
  </div>
</div>